@model eSalesBog.Models.SalesViewModels.ProductViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>წაშლა</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="წაშლა" class="btn btn-default" /> |
            @Html.ActionLink("სიაზე დაბრუნება", "Index")
        </div>
    }
</div>
