@model List<eSalesBog.Models.SalesViewModels.ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>პროდუქტები</h2>

<p>
    @*@Html.ActionLink("ახლის დამატება", "Create")*@
    <a class="btn btn-white btn-sm" href="@Url.Action("Create", "Product")">
        <i class="fa fa-plus"></i>&nbsp;ახლის დამატება
    </a>
</p>
<table class="table">
    <tr>
        <th>
           კოდი
        </th>
        <th>
            დასახელება
        </th>
        <th>
           ფასი
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @*@Html.ActionLink("რედაქტირება", "Edit", new { id=item.ID }) |
            @Html.ActionLink("დათვალიერება", "Details", new { id=item.ID }) |
            @Html.ActionLink("წაშლა", "Delete", new { id=item.ID })*@


            <a class="btn btn-white btn-sm" href="@Url.Action("Edit", "Product", new { id = item.ID })">
                <i class="fa fa-pencil"></i>&nbsp;რედაქტირება
            </a>
            |
            <a class="btn btn-white btn-sm" href="@Url.Action("Details", "Product", new { id = item.ID })">
                <i class="fa fa-eye"></i>&nbsp;დათვალიერება
            </a>
            |
            <a class="btn btn-white btn-sm" href="@Url.Action("Delete", "Product", new { id = item.ID })">
                <i class="fa fa-trash"></i>&nbsp;წაშლა
            </a>
        </td>
    </tr>
}

</table>
