@model List<eSalesBog.Models.SalesViewModels.ConsultantViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>კონსულტანტები</h3>

<p>
    <a class="btn btn-white btn-sm" href="@Url.Action("Create", "Consultant")">
        <i class="fa fa-plus"></i>&nbsp;ახლის დამატება
    </a>
</p>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            სახელი
        </th>
        <th>
            გვარი
        </th>
        <th>
            პირადი ნომერი
        </th>
        <th>
            სქესი
        </th>
        <th>
            დაბადების თარიღი
        </th>
        <th>

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate.Value.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommenderConsultantID)
            </td>
            <td>
                <a class="btn btn-white btn-sm" href="@Url.Action("Edit", "Consultant", new { id = item.ID })">
                    <i class="fa fa-pencil"></i>&nbsp;რედაქტირება
                </a>
                |
                <a class="btn btn-white btn-sm" href="@Url.Action("Details", "Consultant", new { id = item.ID })">
                    <i class="fa fa-eye"></i>&nbsp;დათვალიერება
                </a>
                 |
                <a class="btn btn-white btn-sm" href="@Url.Action("Delete", "Consultant", new { id = item.ID })">
                    <i class="fa fa-trash"></i>&nbsp;წაშლა
                </a>
               
            </td>
        </tr>
    }

</table>
