@model eSalesBog.Models.SalesViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>წაშლა</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDate)
        </dd>    

        <dt>
            @Html.DisplayNameFor(model => model.SaleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="წაშლა" class="btn btn-default" /> |
            @Html.ActionLink("სიაზე დაბრუნება", "Index")
        </div>
    }
</div>
