@model eSalesBog.Models.SalesViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>დათვალიერება</h2>

<div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.SaleDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SaleDescription, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

            @Html.ValidationMessageFor(model => model.SaleDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" >
        @Html.LabelFor(model => model.SaleDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10"  style="margin-top:10px">
            @Html.EditorFor(model => model.SaleDate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.SaleDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ConsultantID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10"   style="margin-top:10px">
            @*@Html.EditorFor(model => model.ConsultantID, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.DropDownListFor(Model => Model.ConsultantID, (List<SelectListItem>)ViewData["Consultants"], new { @class = "form-control", @disabled = "disabled" })*@
            @Html.EditorFor(model => model.ConsultantDescription, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

            @Html.ValidationMessageFor(model => model.ConsultantID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mail-box-header p-md">
        <h4>პროდუქტები</h4>
    </div>
    <div>
        <div>
          
            <table id="product-table" class="table table-edit" data-ref-prop="Products">
                <thead>
                    <tr>
                        <th>პროდუქტი</th>
                        <th>რაოდენობა</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Products != null)
                    {
                        for (int i = 0; i < Model.Products.Count; i++)
                        {
                            //if (!Model.Products[i].IsDeleted)
                            //{
                            @*@Html.HiddenFor(a => a.Products[i].ID)*@
                            @Html.HiddenFor(a => a.Products[i].IsDeleted)
                            <tr>

                                <td class="form-group">
                                    @*@Html.DropDownListFor(m => m.Products[i].ID, ((List<SelectListItem>)ViewData["Products"]),  new { @class = "form-control", @disabled = "disabled" })*@
                                    @Html.TextBoxFor(m => m.Products[i].ProductName, new { @class = "form-control", @disabled = "disabled" })
                                </td>
                                <td class="form-group">@Html.TextBoxFor(m => m.Products[i].ProductCount, new { @class = "form-control", @disabled = "disabled" })</td>
                                
                            </tr>
                            //}
                        }
                    }

                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<p>

    @Html.ActionLink("სიაზე დაბრუნება", "Index")
</p>
